@import url(http://fonts.googleapis.com/css?family=Gabriela);
body {
    background:#c7c8d1;
    font-family: sans-serif;
    text-align: justify;
}
h1 {
    margin: 0;
    color: #575a75;
    font-family: Arial;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    
  }
.h2uno{
    margin: 0;
    padding-left: 5px; 
    padding-bottom: 10px;
    color: white;
    font-family: "Gabriela";
    font-size: 2rem;
    background: #cc5500;
    border-top-right-radius: 16px;
}


.hdos{
    border-top-left-radius: 16px;
   background-color: #e600e6;
   margin: 0;
   padding-left: 5px; 
   color: white;
   font-family: "Gabriela";
   font-size: 2rem;

}

.desc1{
    text-align: justify;
    padding-left: 20px;
    padding-top: 5px;
}
.LA{
    border: #cc4400 3px solid;
    border-radius: 0 20px 20px 20px;
    margin: 10px 50px;
    background: #ffa666;
}
.GA{
    border: #e600e6 3px solid;
  border-radius: 20px 0;
  margin: 10px 50px;
  
}
.lugar1{
    background: #db5b00;
    padding-left: 5px;
}
.lugar2{

}