#uno{
color:#005a66;
margin:0 auto;
background: #33e7ff;
width:930px;
height: 440px;
}
.dos{
    color:black;
    font-family:arial;
    font-style: italic;
    border:#005a66 dotted;
    float: left;
    display: inline-block;
    width: 150px;
    height: 150px;
    background: #00b4cc;
    font-size: 12px;
    margin: 10px;
   

}
h1{
    text-align: center;
}
#oscar{
    letter-spacing: 25px;
    text-transform: uppercase;
    text-align: center;
}
.inicio{
    text-transform: uppercase;
    color:#005a66;
    font-size: 20px;
  
}
