#uno{
color:#005a66;
margin:0 auto;
background: #33e7ff;
width:650px;
height: 450px;
}
.dos{
    color:black;
    font-family:arial;
    font-style: italic;
    border:#005a66 dotted;
    float: left;
    width: 100px;
    height: 100px;
    background: #00b4cc;
    font-size: 10px;
    margin: 10px;
   

}
.tres{
    color:black;
    font-family:arial;
    font-style: italic;
    border:#005a66 dotted;
    clear:both;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #00b4cc;
    font-size: 10px;
    margin: 10px;
}
h1{
    text-align: center;
}
#oscar{
    letter-spacing: 19px;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial;
}
.inicio{
    text-transform: uppercase;
    color:#005a66;
    font-size: 20px;
  
}
