table {
    empty-cells: hide;
    border-collapse: separate;
    border-spacing: 5px;
    margin: 0 auto;
  }

  td {
    border: 1px solid black;
  }

  th {
    border: 1px solid black;
  }

  #arriba{
    caption-side: top;
    font-weight: bold;
    font-size: 20px;
  }

  #abajo{
    caption-side: bottom;
    font-size: 19px;
    color: #97001b;   
    font-weight: bold;
  }

  .rosa {
      background-color:#ffffcc;
      color: #97001b;   
      text-align: center;
      width: 90px;
  }

  .mar {
      background-color: #ccffff; 
      color: blue;
      text-align: center;
  }