*{
    padding: 0px;
    
}
body {
    background: grey;
    text-align: center;
}

#contenedor {
    background: #abeaab;  
    border: 2px solid black;
}

#fotito {
    float: left;
    margin: 10px;
    padding: 5px;
}

#cabecera {
    float: left;
}

h1 {
    font: bold 40px;
    color: #880123;
    padding: 4px;
    float: left;
}
header, section, footer, aside, nav, article{
    display: block;
}

#cabecera p {
    clear: both;
    color: #77c194;
}

#menu {
    background: #a7cfe6;
    font-weight: bold;
    clear: both;
    text-align: left;
}

#menu ul li {
    display: inline-block;
    overflow: hidden;
    border-right: 1px solid#71aed1;
    padding: 10px;
  
}

#menu ul li a {
    text-decoration: none;
}
section {
    background: #ffba90;
    width: 75%;
    float: left;
    padding: 5px;
    

}

#menu2{
    background:#f8b48a;
    text-align: left;
}
#menu2 ul li{
    display: inline-block;
    overflow: hidden;
    padding: 5px;
    border-right: 1px solid #c68258;
}
#menu ul li a{
    text-decoration: none;
}
#titulo{
    color:#6e8a7c;
    text-align: left;
    clear: both;
    font-size: 30px;
}
#contenedor2{
background: #d28257;

}
#segu {
    margin: 0 auto;
    padding: 10px;
    float:center;
    display: block
    
}

#seccion p {
    font: 17px verdana, sans-serif;
}

#bloque {
    float: right;
    margin: 10px 0px;
    background: #cccccc;
}
#columna blockquote {
    font: bold 14px verdana, sans-serif;
}
.redes img{
    width: 50px;
    height: 50px;
}
#uno,
#cuatro,
#siete {
    background-color: #636363;
    padding: 2px;
    border: 1px solid black;
}

#tres,
#seis {
    background-color: #999999;
    padding: 10px;
    border: 1px solid black;
}

#cinco {
    border: 1px solid black;
}

.social {
    background-color: #999999;
    border: 1px solid black;
    padding: 2px;
}

#pie {
    clear: both;
    text-align: center;
    border-top: 2px solid #999999;
}


article footer {
    text-align: center;
}



.social ul {
    list-style: none;
}

.social ul li a {
    display: block;
    color: #fff;
    background: #000;
    padding: 16px;
    text-decoration: none;
}

.social ul li .icon-facebook {
    background: #3b5998;
}

/* Los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li .icon-google-plus2 {
    background: rgb(252, 57, 57)
}

.social ul li .icon-pinterest {
    background: rgb(236, 3, 3)
}

.social ul li .icon-rss2 {
    background: rgb(255, 102, 0)
}

.social ul li a:hover {
    background: rgb(67, 230, 94);
    /* Cambiar fondo cuando el usuario pase el mouse */
}

.social li {
    display: inline-block;
    list-style: none;
    padding: 1px;
}